<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="stylesheet.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/32e0f373c2.js" crossorigin="anonymous"></script>
	</head>
	<body onload="fligth_view_display()">

		<script id="templatePiloteFlightView" type="text/template">
		
			
		</script>
        <script id="templatePassengerFlightView" type="text/template">
		
			
		</script>
		<script id="templateExample" type="text/template">
		
			<div>
				<%= attribute %>
			</div>
		</script>

        <script id="templateValidate" type="text/template">
		
			<div class="pendingT_div">
                <div>
				    <%= name %> <%= surname %>
                </div>
                <div>
				    <%= seats %> passengers
                </div>
			</div>
		</script>

        <script id="templatePending" type="text/template">
		
			<div class="pendingT_div">
                <div>
				    <%= name %> <%= surname %>
                </div>
                <div>
				    <%= seats %> passengers
                </div>
                <div  class="pendingT_buttons" >
                    <button id="approuve_reservation"> <i class="fas fa-user-plus fa-2x"></i></button>
                    <button id="refuse_resa"><i class="fas fa-user-times fa-2x"></i></button>
                </div>

			</div>
		</script>
		
		<nav class="navBarre"  id="navBarre">
			
			
		</nav>


		<div class="page_content">
			<div class ="divTitle"><h1>Flight view</h1></div>

			

			<div id="flight_long_view"> 
				<div class="flightL_div1">
					<div class="flightL_loc">
						<i class="fas fa-street-view fa-3x"></i>
						<br>
						Appoitement
						<p id="app_detail"></p>
					</div>

					<div class="flightL_loc">
						<i class="fas fa-plane-departure fa-3x"></i>
						<br>
						Departure
						<br>
						<p id="departure_loc"></p>
						<p id="departure_date"></p>
						<p id="departure_time"></p>
					</div>

					<div class="flightL_loc">
						<i class="fas fa-plane-arrival fa-3x"></i>
						<br>
						Arrival
						<br>
						<p id="arrival_loc"></p>
						<p id="arrival_date"></p>
						<p id="arrival_time"></p>

					</div>

				</div>
				<div class="flightL_div1">
					<div class="flightL_div2">
						<div class="flightL_icon2"><i class="fas fa-dollar-sign fa-2x"></i></div>
						<div>
							<span class="flightL_price"> $</span><br>
							/seats 
						</div>

					</div>
					<div class="flightL_div2">
						<div class="flightL_icon2"><i class="fas fa-users fa-2x"></i></div>
						<div>
							<span class="flightL_seats">5 </span>
							<br>
							seats available
						</div>
						
					</div>
					<div class="flightL_div2">
						<div class="flightL_icon2"> <i class="fas fa-plane fa-2x"></i></div>
						<div>
							<span class="flightL_aircrafModel">8 </span><br>
							<span class="flightL_aircrafCons">8 </span>
						</div>
						
					</div>

				</div>

				

				<h5 class="h5_res">Passengers informations</h5>
				<div class = "flight_passengerList">
                   <h6>Pending <i class="fas fa-user-clock"></i> </h6> 
                   <div id="pendingList">
                    <div class="pendingT_div">
                        <div>
                            Pritie SOUGOUMAR
                        </div>
                        <div>
                             4 passengers
                        </div>
                        <div  class="pendingT_buttons" >
                            <button id="approuve_reservation"> <i class="fas fa-user-plus fa-2x"></i></button>
                            <button id="refuse_resa"><i class="fas fa-user-times fa-2x"></i></button>
                        </div>
        
                    </div>
                   </div>
                    <h6>Validate <i class="fas fa-user-check"></i></h6>
                    <div id="validateList">
                        <div class="pendingT_div">
                            <div>
                                Pritie SOUGOUMAR
                            </div>
                            <div>
                                4 passengers
                            </div>
                        </div>
                    </div>


                </div>
				
			</div>
			

		</div>
		
	    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	    <script type="text/javascript" src="webService.js"></script>
		<script type="text/javascript" src="home.js"></script>
	</body>
</html>