
/*barre de navigation*/

.navBarre{

    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 90%;
    height: 10vh;
    margin: 0%;
    padding: 0 5% 0; /*top | right=left | botonm*/
    

   
}

.nav_title{
    height:100%;
    width: 20%;
  /*  margin: 10%;*/
    display: inline-block;
    float: left;
    vertical-align: middle;
    color: #ebc04c;

}
.nav_links{
    height:100%;
    float: right;
    display: inline-block;
    width: 75%;
    margin-top:0;
  
}

.nav_ul{
    height:100%;
    margin:1em;

}
.nav_li{
    height:100%;
    display: inline;
     float: right;
    margin-left: 10%;
    vertical-align: middle;
}




/*body*/

body{
    font-family: 'Reem Kufi', sans-serif;
    background-color: #e7d0bc;
    margin: 0%;
}

/*page content*/

.page_content{
    margin: 10vh;
}


/*welcoming page*/
.welcomming_page{
    
    padding:10% ;
    /*border: 3px solid #73AD21;*/
    margin: 0 auto;
    
}

#buttonA{
    border: 2px solid #73a9c9ff;
    background-color: #73a9c9ff;
    border-radius: 5px;
    font-family: 'Reem Kufi', sans-serif;
    padding: 0em 1em 0em;
}

#result{
    background-color: #ffffff;
}