
/*find a flight*/

.searchBarre{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    height: 8vh;
    font-size: large;
}

.searchInput{
    border:none;
    font-size: large;
    height: 98%;
    width: 22%;
    border-radius: 5px;
}

#searchButton{
    float: right;
    height: 100%;
    width: 8vh;
    border-radius: 5px;
    font-size: 17px;
    border: 2px solid #73a9c9ff;
    background-color: #73a9c9ff;
    cursor: pointer;
    content: \f002;
  
}


.fligth_div1{
    width: 50%;
    display: inline-block;
   

}
.fligth_div2{

    width: 25%;
    float: right;
    display: inline-block;

}
.fligth_div3{

    width: 25%;
    float: right;
    display: inline-block;
}

#flight_short_view{
   /* border: 5px solid red;*/
    background-color:white;
    padding: 0.5% 5% 0.5%;
    margin: 5px;
    border-radius: 10px;
}
#flight_short_view:hover{
    /* border: 5px solid red;*/
     background-color:rgb(255, 237, 73);
  
 }

.result2{
    /*border: 5px solid red;*/
    background-color:white;
    padding: 5px;
}




/*barre de navigation*/

.navBarre{

    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 90%;
    height: 10vh;
    margin: 0%;
    padding: 0 5% 0; /*top | right=left | botonm*/
    

   
}

.nav_title{
    height:100%;
    width: 20%;
  /*  margin: 10%;*/
    display: inline-block;
    float: left;
    vertical-align: middle;
    color: #ebc04c;
}

.nav_links{
    height:100%;
    float: right;
    display: inline-block;
    width: 75%;
    margin-top:0;
  
}

.nav_ul{
    height:100%;
    margin:1em;

}
.nav_li{
    height:100%;
    display: inline;
     float: right;
    margin-left: 10%;
    vertical-align: middle;
}




/*body*/

body{
    font-family: 'Reem Kufi', sans-serif;
    background-color: #e7d0bc;
    margin: 0%;
}

a:link, a:visited {
    color: black;
    text-decoration-line: none;
}

/*page content*/

.page_content{
    margin: 15vh 15%;
}




/*welcoming page*/

.mainBody{
    background-color: #ffffff;
}

.welcomming_page{
 /*   width:20%;
    height: 100%;
    */
   /* background-image: url("http://localhost:8080/media/travel.png");
    background-repeat: no-repeat;
    background-size:100% ;*/
    /*padding:15% ;*/
    background-color: #ffffff;
   /* border: 3px solid #73AD21;*/
    margin: 0 15% 0 15%;
    
}

.main_band{
    background-image: url("http://localhost:8080/media/travel.png");
    background-repeat: no-repeat;
    background-size:100% ;
    margin-top: 10vh;
    height: 35vh;
    background-position: center top;
    background-size: cover;
}

#buttonA,#getFlightList{
    border: 2px solid #73a9c9ff;
    background-color: #73a9c9ff;
    border-radius: 5px;
    font-family: 'Reem Kufi', sans-serif;
    padding: 0em 1em 0em;
}

#result{
    background-color: #ffffff;
}



